body {
  background: #ffffff;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20vw;
  grid-gap: 10px;
  margin: 100px;
}

.image-grid .image-item:nth-child(5n) {
  grid-column: span 2;
}

.image-grid .img-hover {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 2px white;
  transition: transform .2s;
  overflow: hidden;
}

.image-grid .img-hover img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s;
}

.image-grid .img-hover:hover {
  transform: scale(1.03);
  border: solid 5px #0476bd;
}

.image-grid .img-hover img:hover {
  transform: scale(1.2);
}