.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.img-container {
  text-align: center;
  width: 80vw;
  height: 90vh;
  line-height: 90vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: zoom;
  animation-duration: 0.3s;
  /* border: 10px solid; */
  position: relative;
}

#img-on-display {
  max-width:100%;
  max-height:100%;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.prev, .next {
	position: fixed;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	transition: 0.6s ease;
}

.zoom-options {
  position: fixed;
  transition: 0.6s ease;
  top: 90%;
  left: 50%;
}

.zoom-out-button {
  margin-left: -100px;
}

.zoom-in-button {
  margin-left: 70px;
}

.h-line {
  border-bottom: 0.01em solid #fff;
  position: absolute;
  width: 20px;
  text-align: center;
  left: 5px;
  top: 15px;
}

.v-line {
  position: absolute;
  height: 20px;
  text-align: center;
  left: 14px;
  top: 5px;
  border-left: 0.01em solid #fff;
}

.magnifying-glass
{
 font-size: 5em; /* This controls the size. */
 display: inline-block;
 width: 0.4em;
 height: 0.4em;
 border: 0.01em solid #fff;
 position: relative;
 border-radius: 0.35em;
 top: 15px;
left: 15px;
}

.magnifying-glass::before
{
 content: "";
 display: inline-block;
 position: absolute;
 right: -0.15em;
 bottom: -0.05em;
 border-width: 0;
 border-radius: 3px;
 background: #fff;
 width: 0.2em;
 height: 0.04em;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
}

.next {
  right: 2vw;
  transform: scaleX(-1);
}

.prev {
  left: 2vw;
}

.prev:hover, .next:hover,
.prev:focus, .next:focus {
  text-decoration: none;
  transition: 0.3s;
}

.arrow {
  border-bottom: 6px solid;
  border-left: 6px solid;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  transform: rotate(45deg);
  transition: opacity 1s;
  top: 35px;
  left: 40px;
  position: absolute;
}

.nav-button {
  height: 70px;
  width: 70px;
  background-color: #40404040;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #3b89e3;
  transition: 0.6s ease;
}

.tooltiptext {
  width: 70px;
  background-color: #40404040;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
	font-weight: bold;
  font-size: 14px;
}

.h-tooltip {
  left: 50%;
  margin-left: 40px;
  bottom: 40px;
}

.v-tooltip {
  bottom: 110%;
  left: 25%;
}

#tooltipzoomout, #tooltipzoomin {
  position: absolute;
}

#tooltipzoomin {
  left: 40px;
}

#tooltipzoomout {
  left: -100px;
}

.nav-button:hover + .tooltiptext {
  opacity: 1;
}

#tooltipprev {
  position: absolute;
}

#tooltipnext {
  transform: scaleX(-1);
  position: absolute;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}